@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


body, html {
    height: 100%;
    margin: 0;
}

.list-inline-item {
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.dropdown-divider {
    margin: 0;
    padding: 0;
}

.dropdown-item {
    padding: .5rem 1.5rem;;
}

.dropdown-menu {
    padding: 0;
}

.card-logo {
    background-color: #fff;
    color: #000;
    transition: background-color .5s, color .5s;

}

.card-logo:hover {
    background-color: #3587B0;
    color: white;
}


.indent {
    padding: 0.25em 1em 0.25em 1em;
    border-radius: 5px;
}

h4 {
    background-color: #eaeaea;
}

.hover {
    transition: box-shadow 0.5s;
}

.hover:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}

.rounded-corner {
    border-radius: 5px;
}

.font2 {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 3em;
}

.font1 {
    font-family: "Times New Roman", Georgia, Serif, sans-serif;
}

.required-field::before {
    content: "*";
    color: red;
}


.nav > li:hover {
    border-bottom: solid 5px #84b71c;
}


.carousel img {
    height: 600px;
    object-fit: contain;
}

hr.green {
    background-color: #84b71c;
}

.p-hover:hover {
    border-left: solid 3px #84b71c;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}


.page-link-blue {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: #1b85ac;
}

.page-link-blue:hover {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: #19587a;
}

li {
    margin: 1em 0em 1em 0em;
}

.bg-white {
    background-color: #ffffff;
}

.quicksand {
    font-family: Quicksand, sans-serif;
}


@media all and (max-width: 700px) {


    h2.news-title {
        font-family: Merriweather, sans-serif, Serif;
        font-size: 2vh;
    }


    p.services {
        margin: 0 0 100px 0;
    }

    #content {
        margin: 500px 0 0 0;
        background: #fff;
        position: relative;
    }

    #background {
        background: url("/static/rendered_mobile.jpg");
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 700px;
        background-size: cover;
    }

    #nav {
        margin: 0;
        height: 180px;
        position: relative;

    }

    #future {
        padding-top: 180px;
    }

    p.motto {
        font-size: 8em;
        color: #ffffff;
        font-weight: bold;
    }

    p.email {
        font-size: 1.5em;
        color: #ffffff;
        font-weight: bold;
    }

    p.phone {
        font-size: 1.5em;
        color: #ffffff;
        font-weight: bold;
    }
}

@media all and (max-width: 1200px) {


    img.logo {
        width: 200px;
    }

    div.main-page-description {
        margin: 0 10px 0 10px;
    }

    h2.news-title {
        font-family: Merriweather, sans-serif, Serif;
        font-size: 3vh;
    }

    p.services {
        margin: 0 0 100px 0;
    }

    #content {
        margin: 500px 0 0 0;
        background: #fff;
        position: relative;
    }

    #background {
        background: url("/static/rendered_mobile.jpg");
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 650px;
        background-size: cover;
    }

    #nav {
        margin: 0;
        height: 180px;
        position: relative;

    }

    #future {
        padding-top: 150px;
    }

    p.motto {
        font-size: 3em;
        color: #ffffff;
        font-weight: bold;
    }

    p.email {
        font-size: 1.5em;
        color: #ffffff;
        font-weight: bold;
    }

    p.phone {
        font-size: 1.5em;
        color: #ffffff;
        font-weight: bold;
    }
}


@media all and (min-width: 1201px) {

    .about-description {
        margin: 0 200px 0 200px;
    }

    h2.news-title {
        font-family: Merriweather, sans-serif, Serif;
        font-size: 5vh;
        text-align: center;
    }

    img.logo {
        width: 200px;
    }

    div.main-page-description {
        margin: 0 100px 0 100px;
    }

    p.services {
        margin: 0 0 100px 50px;
        font-size: 3em;
        /*margin: 0 0 2em 2em;*/
        color: #808283;
    }

    #content {
        margin: 500px 0 0 0;
        background: #fff;
        position: relative;
    }

    #background {
        background: url("/static/rendered2.jpg");
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 600px;
        background-size: cover;
    }

    #nav {
        margin: 0;
        height: 80px;
        position: relative;

    }

    #future {
        padding-top: 100px;
    }

    p.motto {
        font-size: 5em;
        color: #ffffff;
        font-weight: bold;
        padding: 0 20px 0 20px;
    }

    p.email {
        font-size: 2em;
        color: #ffffff;
        font-weight: bold;
        padding: 0 20px 30px 20px;
    }

    p.phone {
        font-size: 2em;
        color: #ffffff;
        font-weight: bold;
        padding: 0 20px 0 20px;
    }
}


.merriweather {
    font-family: Merriweather, sans-serif, Serif;
}

iframe {
    display: block;
    width: 100%;
    height: 600px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

.services-list {
    font-size: 3em;
    margin: 0 0 2em 2em;
    color: #808283;
}

.services-span {
    font-size: .8em;
    color: #3587b0;
}

