<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="McDonald Property management LTD, one of the biggest property management companies in Auckland, New Zealand.">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
    <title>McDonald Rentals</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">


</head>


<body>

<!-- Modal login -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="login">Authorisation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'login' %}" class="needs-validation">
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="text" name="login" class="form-control shadow-sm" placeholder="Username" required/>
                    </div>
                    <br/>
                    <div class="form-row">
                        <input type="password" name="password" class="form-control shadow-sm" placeholder="Password"
                               required/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary shadow-sm" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-success shadow-sm">Login</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div id="background">
    <div class="container pt-5" id="creds">
        <div id="future">
            <p class="motto">{{ creds.motto }}</p>
            <p class="phone"><a href="tel:{{ creds.phone }}" class="text-light">Ph {{ creds.phone }}</a></p>
            <p class="email"><a class="text-light"
                                href="{{ creds.email }}">{{ creds.email }}</a>
            </p>
        </div>
    </div>
</div>


<nav id="nav" class="nav navbar navbar-expand-lg pt-3 container-fluid">
    <div class="container">
        <div class="col-md-3">
{#            <a href="{% url 'home' %}"><img src="{% static 'Layer2.png' %}" style="width: 200px;" alt="Logo"/></a>#}
            <a href="{% url 'home' %}"><img src="{% static 'white_logo.png' %}" style="width: 200px;" alt="Logo"/></a>

        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon justify-content-end menu"><span class="navbar-toggler-icon"><img
                    src="{% static 'line-menu.png' %}" width="100%"/></span></span>
        </button>
        <div class="col-md-9 justify-content-end collapse navbar-collapse" id="navbarSupportedContent">

            <a class="p-2 text-light" style="font-size: 16px;" href="{% url 'home' %}"><strong>HOME</strong></a>
            <a class="p-2 text-light" style="font-size: 16px;" href="{% url 'news' 1 %}"><strong>NEWS</strong></a>
            <a class="p-2 text-light" style="font-size: 16px;" href="{% url 'about' %}"><strong>ABOUT
                US</strong></a>
            <a class="p-2 text-light" style="font-size: 16px;"
               href="{% url 'services' %}"><strong>SERVICES</strong></a>
            <a class="p-2 text-light" style="font-size: 16px;" href="{% url 'contact' %}"><strong>CONTACT
                US</strong></a>
            <a class="p-2 text-light" style="font-size: 16px;"
               href="{% url 'properties' 1 %}"><strong>PROPERTIES</strong></a>
            <a class="p-2 text-light" style="font-size: 16px;"
               href="{% url 'apply' %}"><strong>APPLY</strong></a>
        </div>
    </div>
</nav>


{# Main container for every page #}

{% block content %}

{% endblock %}

{# End of main container #}

{# footer #}
<div class="container-fluid py-5"
     style="background-image: radial-gradient(circle, #424b67, #3d4660, #394058, #343b51, #30364a);">

    <div class="container">
        <div class="row">
            <div class="col-md-6 merriweather">
                <p>{% if request.user.is_authenticated %}
                    <a class="text-light text-primary" href="{% url 'admin:index' %}"><strong>ADMIN
                        PANEL</strong></a>
                    <a class="text-light text-primary"
                       href="javascript:{document.getElementById('logout').submit()}"><strong>LOGOUT</strong></a>
                {% endif %}
                    {% if not request.user.is_authenticated %}
                        <a class="text-light text-primary" href="#" data-toggle="modal"
                           data-target="#login"><strong>LOG IN</strong></a>
                    {% endif %}
                <form id="logout" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="hidden"/>
                </form>
                </p>
                <p><a class=" text-light text-success" href="{% url 'home' %}">Home</a></p>
                <p><a class="text-light text-success" href="{% url 'about' %}">About us</a></p>
                <p><a class="text-light text-success" href="{% url 'services' %}">Services</a></p>
                <p><a class="text-light text-success" href="{% url 'contact' %}">Contact us</a></p>
                <p><a class="text-light text-success"
                      href="{% url 'properties' 1 %}">Properties</a></p>
                <p><a class="text-light" href="http://ivaneresko.info">Made by yaquake</a></p>

            </div>
            <div class="col-md-6 text-light merriweather">
                <a href="mailto:{{ creds.email }}"><img
                        src="{% static 'logos/iconfinder_Email_3138894.png' %}" alt="Email" width="10%"/></a>&nbsp
                <a href="{{ creds.facebook }}" target="_blank"><img
                        src="{% static 'logos/iconfinder_Facebook_3138895.png' %}" alt="Facebook" width="10%"/></a>&nbsp
                <a href="{{ creds.linkedin }}" target="_blank"><img
                        src="{% static 'logos/iconfinder_LinkedIn_3138898.png' %}" alt="Linkedin" width="10%"/></a><br/><br/>
                <p>McDonald Property Management Ltd</p>
                <p><strong>Address: </strong>376 Great South Rd, Papatoetoe</p>
                <p><strong>Postal address:</strong>
                    P.O.Box 39393
                    Howick 2145</p>
                <p>Since 2011</p>


            </div>
        </div>


    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="{% static 'js/user.js' %}"></script>


<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    })
</script>

{#<script>#}
{#    function alertMessage() {#}
{#        if (document.getElementById('name').value !== "" && document.getElementById('email').value !== "" &&#}
{#            document.getElementById('phone').value !== "" && document.getElementById('topic').value !== "" &&#}
{#            document.getElementById('details').value !== "") {#}
{#            alert("Your message has been sent. Redirecting to the home page..")#}
{#        } else {#}
{#            alert("Please, fill in all the fields.")#}
{#        }#}
{#    }#}
{#</script>#}


<script>
    $(function () {
        $(window).on('scroll', function () {
            $('#background').css('margin-top', $(window).scrollTop() * -.3);
        });
    });
</script>
<script>
    $(function () {
        $(window).on('scroll', function () {
            $('#creds').css('margin-top', $(window).scrollTop() * -.3);
        });
    });
</script>
</body>
</html>