{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="content">
        <div class="container mt-5 bg-white" style="min-height: 1700px;">
            <h2 class="pt-3 text-muted">Add news</h2>
            <hr style="border-width: 3px;">
            <p style="color: red;">{{ error }}</p>
            <form action="{% url 'postnews' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    {{ field.label_tag }}<br/>
                    {{ field }}<br/>
                {% endfor %}<br/>
                <input type="submit" class="btn btn-success">
            </form>
            <br/>
        </div>
{% endblock %}