{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="content">

    <div class="container mt-5 bg-white">
        <div class="pb-5">
            <div class="text-center">
                <h1 class="py-5 text-muted">INFORMATION</h1></div>
            <div class="col-md-12 pt-2 pl-0">
                <p>Should you wish to contact us, we would be more than happy to hear from you. <br/>

                    We are based at <strong>376 Great South Rd, Papatoetoe</strong> (Tui Road corner).<br/><br/>

                    <strong>Postal address:</strong><br/>
                    P.O.Box 39393<br/>
                    Howick 2145<br/><br/>

                    <strong>Our contact details are:</strong><br/>

                    Phone - (09) 215-1267<br/>

                    Email - <a href="mailto:info@mcdonaldrentals.co.nz">info@mcdonaldrentals.co.nz</a></p>
            </div>

        </div>
        <div>
            <div class="text-center">
                <h1 class="py-5 text-muted">CONTACT US</h1></div>
            <form action="{% url 'contact' %}" method="POST" id="form-contact">{% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.name.errors }}
                        <div class=" required-field">{{ form.name.label_tag }}</div>
                        {{ form.name }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.email.errors }}
                        <div class=" required-field">{{ form.email.label_tag }}</div>
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.phone.errors }}
                        <div class=" required-field">{{ form.phone.label_tag }}</div>
                        {{ form.phone }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.topic.errors }}
                        <div class="required-field">{{ form.topic.label_tag }}</div>
                        {{ form.topic }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.details.errors }}
                        <div class=" required-field">{{ form.details.label_tag }}</div>
                        {{ form.details }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success" onclick="alertMessage()">Send</button>
            </form>
        </div>
    </div>
    <div class="mt-4 container-fluid" style="overflow: hidden; margin: 0;">
        {#<h3 class=pt-3">How to find us</h3><hr style="border-width: 3px;">#}
        {#    <div style="width: 100%">#}
        <iframe src="https://maps.google.com/maps?hl=en&amp;q=376%20Great%20South%20Road%20Papatoetoe%20Auckland+(McDonald%20Property%20Management%20LTD)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed">
            <a href="https://www.maps.ie/create-google-map/">Embed Google Map</a></iframe>
    </div>
    {#</div>#}
    <br/>

{% endblock %}



