{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


    <div id="content">

        <div class="container">
            <div class="row py-5" id="idForMessage">
                <div class="col-lg-4 text-center my-2"><a href="{% url 'services' %}">
                    <img src="{% static 'services_with_white_logo.png' %}" width="90%" class="hover rounded"/></a></div>
                <div class="col-lg-4 text-center my-2"><a href="{% url 'properties' 1 %}">
                    <img src="{% static 'properties_with_white_logo.png' %}" width="90%" class="hover rounded"/></a>
                </div>
                <div class="col-lg-4 text-center my-2"><a href="{% url 'apply' %}">
                    <img src="{% static 'apply_with_white_logo.png' %}" width="90%" class="hover rounded"/></a></div>
            </div>
        </div>
        <div class="container">
            <div class="pb-5 text-center">
                {#                <div class="col-md-8 border-right">#}
                <img src="{{ info.image.url }}" width="100%" class="rounded mb-2 pb-5"
                     alt="Personnel"/>

                <div style="margin: 0 100px 0 100px;">
                    {{ info.description|safe }}</div>

            </div>
            <div class="py-5 text-center merriweather">
                <h2 class="text-muted">Latest news</h2>
                <hr>
                <br/>

                <div class="row pb-5">

                    {% for news in news %}
                        <div class="col-md-4">
                            <p style="font-size: 12px;" class="pt-3">{{ news.pubdate_pretty }}</p>
                            <a href="{% url 'news_details' news.slug %}"
                               style="font-size: 1.2em; color: #864E2C;">{{ news.name.upper }}</a>

                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row">
                        {% endif %}

                    {% endfor %}
                    </div>
            </div>

            {#                {% for news in news %}#}
            {#                    <div class="row">#}
            {#                    <div class="col-sm-4">#}
            {#                        <a href="{% url 'news_details' news.slug %}"#}
            {#                           class="border-top" style="font-size: 1.2em;">{{ news.name.upper }}</a>#}
            {#                        <p style="font-size: 12px;" class="  pt-3">{{ news.pubdate_pretty }}</p><br/>#}
            {#                        {% if forloop.counter|divisibleby:3 %}#}
            {##}
            {#                    </div><div class="col-sm-4">#}
            {#                {% endif %}#}
            {#                {% endfor %}#}
        </div>

    </div>
    </div>


    <br/><br/>

{% endblock %}