{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="content">
<div class="container mt-5" style="min-height: 1100px; background-color: #ffffff;">
<div class="row">
<div class="col-md-8">
    <h2 class="pl-3 pt-3">News</h2></div>
<div class="col-md-4 text-right">
    {% if request.user.is_authenticated %}<br />
        <a href="{% url 'postnews' %}" class="pl-3 pt-2"><button class="btn btn-info">Add news</button></a>
    {% endif %}
</div>
</div>
<hr style="border-width: 3px;">

{% for item in news %}
    {% if not forloop.first %}
    <hr>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            <img src="{{ item.image.url }}" width="100%" class="img-thumbnail">
        </div>
        <div class="col-md-9">
            <p><h3><a href="{% url 'news_details' item.slug %}" class="merriweather text-info">{{ item.name }}</a></h3></p>
            <p style="font-size: 0.75em;">{{ item.pubdate_pretty }}</p>
        </div>
    </div>

<br />
{% endfor %}
</div>
{% endblock %}