{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="content">
        <div class="container mt-5 bg-white text-center">
            <h5 class="pl-3 pt-3 ">
                <a href="{% url 'news' 1 %}" style="font-size: 1.2em; color: #864E2C;"><< BACK TO NEWS</a></h5><br/>
            <h2 class="news-title">{{ news.name }}</h2>
            <p class="text-center"><img src="{{ news.image.url }}" width="50%" alt="Title picture"></p>
            <p class="text-center">{{ news.pubdate_pretty }}</p>
            <hr>
            <p class="merriweather">{{ news.description|safe }}</p>
            <br/>
            <h5 class="pt-3"><a href="{% url 'news' 1 %}" style="font-size: 1.2em; color: #864E2C;"><< BACK TO NEWS</a></h5>
            <br/>
        </div>
{% endblock %}