{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



    <div id="content">
        <div class="container py-4">

            {#        Carousel        #}

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in property.propertyimage_set.all %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                    <a href="{{ image.image.url }}" target="_blank"><img class="d-block w-100"
                                                                         src="{{ image.image.url }}" alt="First slide"></a>
                    </div>
                    {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon rounded bg-dark" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next rounded-right" href="#carouselExampleControls" role="button"
                       data-slide="next">
                        <span class="carousel-control-next-icon rounded bg-dark" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
            {#            Carousel ends            #}


            {#        Icons #}
            <div class="container merriweather">
                <div id="propertyLogo text-center">
                    <h1 class="merriweather">
                        <strong>{{ property.street_number }}, {{ property.street_name }}, {{ property.suburb }}</strong>
                    </h1>
                </div>
                <div class="row my-5">
                    <div class="col-md-3">
                        <img src="{% static 'property_icons/bedroom.png' %}" style="width:50px;"
                             alt="Bedrooms" class="pb-2">: <span
                            style="font-size: 1.5em;">{{ property.bedrooms }}</span></div>
                    <div class="col-md-3">
                        <img src="{% static 'property_icons/bathroom.png' %}" style="width:50px;"
                             alt="Bathrooms" class="pb-2">: <span
                            style="font-size: 1.5em;">{{ property.bathrooms }}</span></div>
                    <div class="col-md-3">
                        <img src="{% static 'property_icons/carpark.png' %}" style="width:50px;"
                             alt="Carpark" class="pb-2">: <span style="font-size: 1.5em;">{{ property.carparks }}</span>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'property_icons/calendar.png' %}" style="width:50px;"
                             alt="Available from" class="pb-2">: <span
                            style="font-size: 1.5em;">{{ property.date_available }}</span></div>

                </div>

                {#            Advert text #}

                {% if property.advert_text %}
                    <div id="propertyAdvertText" class="pb-4">
                        <hr>
                        <br/>
                        <p style="line-height: 2.3;">{{ property.advert_text }}</p>
                    </div>

                {% endif %}
                <div>
                    <h2 class="pt-3 merriweather">Price: ${{ property.rent }}
                        per {{ property.rental_period.lower }} </h2>
                </div>
                <div class="row pt-5">
                    <div class="col-md-6 pb-2">
                        <h3 class="merriweather">Call us: <a href="tel:092151267" class="text-dark merriweather">(09)
                            215 1267</a></h3>
                    </div>
                    <div class="pb-2 col-md-2">
                        <a href="mailto:{{ property.agent_email1 }}?subject={{ property.street_number }},%20{{ property.street_name }},%20{{ property.suburb }}&body=I%20would%20like%20to%20know%20more%20about%20this%20property.">
                            <button class="btn btn-info btn-lg">EMAIL US</button>
                        </a>
                    </div>
                    <div class="pb-5 col-md-4">
                        <a href="https://www.mcdonaldrentals.viewingtracker.com/">
                            <button class="btn btn-success btn-lg pt-2">BOOK VIEWING</button>
                        </a>
                        <br/>
                    </div>
                </div>
            </div>

        </div>




{% endblock %}