{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="content">
    <div class="container px-0 mt-5  bg-white">
        <div class="text-center">
            <h1 class="py-5 text-muted">WHAT WE DO</h1></div>


            {% for service in services %}
                    <span class="services-list">{{ service.title }}</span>
                    <p class="py-5 services text-muted">{{ service.description }}</p>

            {% endfor %}

        <br/>
    </div>
{% endblock %}



