{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div id="content">





<div class="container px-0 mt-5 text-center bg-white">
<h2 class="pl-3 pt-3">Available services</h2><hr style="border-width: 3px;">

<h2 class=" pl-3">Property Management Service</h2>
<p class=" pl-3 services">Professional, thorough selection processes are used to ensure the most suitable tenant for your property.
    Credit checks are standard and written references are verbally checked wherever possible.
    All documentation is completed prior to the tenant taking occupation of the home.
    Bonds are forwarded to Tenancy Services as part of our day-to-day processing.
    Moving in inspections are carried out with the tenant to agree the condition of the property.</p>

<h2 class=" pl-3" >Rent Collection</h2>
<p class=" pl-3 services">Daily reports are generated to monitor rental payments. The highly pro-active actions of our
    experienced team minimise the number of Tribunal applications required.
    Where Tribunal action is warranted, our knowledgeable and experienced team act
    in your best interest at all times.</p>

<h2 class=" pl-3">Inspections</h2>
<p class=" pl-3" style="margin: 100px 200px 0 200px;">Inspections are completed at agreed intervals. We provide you with a written report, detailing what condition
    the property was in at the time of inspection. Standard inspections include:</p>

<ul style="list-style-type: circle; margin: 0 200px 100px 200px;"><li>Moving in inspections to agree condition with the new tenant.</li>
    <li>Pre-vacation inspection.</li>
    <li>Regular property check/ maintenance inspections. We recommend 3 monthly inspections.</li></ul>
<h2 class=" pl-3">Maintenance and Repairs</h2>
<p class=" pl-3 services">Regular inspections pick up small problems before they become large, costly problems.<br />

We have a full range of quality tradesmen available to carry out maintenance work.<br />

We can provide you with annual plans for ongoing maintenance.<br />

Gain the benefits of using quality tradesmen who keep costs down and provide excellent service to our clients.</p>

<h2 class=" pl-3">Rent Appraisal</h2>
<p class=" pl-3 services">We will visit your property and give advice on the current market rent.</p>

<h2 class=" pl-3">Payment of Accounts</h2>
<p class=" pl-3 services">Have your rates / water rates / insurance accounts forwarded to us for payment. We on-charge the applicable
    portion of the water account to the tenant and recover this amount for you.</p>

<h2 class=" pl-3">How We Account to You</h2>
<p class=" pl-3 services">Landlords are usually paid within 1-2 working days following the end of each month.
    We provide an easy to read and understand statement, setting out how much has been received from each tenant,
    where their rent is paid to and listing any outgoings paid from the account that month. At the end of each
    financial year we provide an annual statement that can be taken to your accountant for tax purposes.
    How much simpler could it get?</p>

    <h2 class=" pl-3">What is Your Time and Lifestyle Worth to You?</h2>
    <p class=" pl-3 services">For a small monthly fee, deducted from the rent income (tax deductible),
        we take the worry and stress out of managing your rental property.<br />

    Your time is too valuable to be spent running around after rent arrears. Leave it to the experts!<br />

    Would you be a soft touch? Many landlords have approached us once their tenant’s debt gets so high it
        becomes impossible to recover. Would you be tough enough to ensure the rent is always paid on time?
        Would you do regular inspections?<br />

    If we don’t collect the rent, we don’t get paid - it’s as simple as that! It is in our best interests to ensure you get your rent each month.</p>
</div>
{% endblock %}



